In [1]:
#! /usr/bin/env python3
import pandas as pd
import requests


def get_week_point(league_id, week):
    res = requests.get('https://fantasy.premierleague.com/drf/'
                       'leagues-classic-standings/{}'.format(league_id))
    league_results = res.json()['standings']['results']
    team_ids = [team['entry'] for team in league_results]
    results = []
    counter = 0
    for team_id in team_ids:
        res = requests.get('https://fantasy.premierleague.com/drf/'
                           'entry/{}/event/{}/picks'.format(team_id, week))
        point = res.json()['entry_history']['points']
        transfer_cost = res.json()['entry_history']['event_transfers_cost']
        week_point = point - transfer_cost
        results.append([league_results[counter]['entry_name'],
                        league_results[counter]['player_name'],
                        point, transfer_cost, week_point])
        counter += 1


    columns = ['Team', 'Manager', 'Point', 'Transfer', 'Total']    
    df = pd.DataFrame(results, columns=columns)
    df['Rank'] = df['Total'].rank(ascending=False)
    df['Money'] = [int(((rank - 1) * 20000)) if rank < 3
                   else int((40000 + (rank - 3) * 10000)) for rank in df['Rank']]
    df = df[['Team', 'Manager', 'Point', 'Transfer', 'Total', 'Money']].sort_values('Money')
    
    return df

from IPython.display import display

In [23]:

LEAGUE_ID = 373549
for week in range(1, 6):
    df = get_week_point(LEAGUE_ID, week)
    display(df)

              Team           Manager  Point  Transfer  Total   Money
5           Faster           Hiep ck     61         0     61       0
1         TOBBY FC      Tobby Nguyen     58         0     58   20000
3         Bimtin16        Quang Tran     47         0     47   45000
9         DinhLong       long Nguyen     47         0     47   45000
2    hoho_haha2016      Nguyen Thanh     46         0     46   65000
4          saobien    Đàm Thanh Tùng     46         0     46   65000
6        Chupachup         Tran Quan     44         0     44   80000
0           ZinZin  Long Hoang Thanh     40         0     40   90000
8  Nghe'VitTitMi't      Nguyen Thang     36         0     36  100000
7    878855-373549       NGUYEN DONG     32         0     32  110000

              Team           Manager  Point  Transfer  Total   Money
6        Chupachup         Tran Quan     81         0     81       0
3         Bimtin16        Quang Tran     73         0     73   20000
0           ZinZin  Long Hoang Thanh     68         0     68   45000
1         TOBBY FC      Tobby Nguyen     68         0     68   45000
4          saobien    Đàm Thanh Tùng     59         0     59   60000
2    hoho_haha2016      Nguyen Thanh     54         0     54   70000
7    878855-373549       NGUYEN DONG     56         4     52   80000
9         DinhLong       long Nguyen     50         0     50   90000
5           Faster           Hiep ck     48         0     48  100000
8  Nghe'VitTitMi't      Nguyen Thang     44         4     40  110000

              Team           Manager  Point  Transfer  Total   Money
1         TOBBY FC      Tobby Nguyen     54         0     54       0
0           ZinZin  Long Hoang Thanh     50         0     50   20000
2    hoho_haha2016      Nguyen Thanh     46         0     46   45000
8  Nghe'VitTitMi't      Nguyen Thang     46         0     46   45000
5           Faster           Hiep ck     42         0     42   60000
3         Bimtin16        Quang Tran     39         0     39   70000
6        Chupachup         Tran Quan     42         4     38   85000
7    878855-373549       NGUYEN DONG     42         4     38   85000
4          saobien    Đàm Thanh Tùng     32         0     32  100000
9         DinhLong       long Nguyen     36        60    -24  110000

              Team           Manager  Point  Transfer  Total   Money
9         DinhLong       long Nguyen     58         0     58       0
2    hoho_haha2016      Nguyen Thanh     55         0     55   20000
8  Nghe'VitTitMi't      Nguyen Thang     48         0     48   40000
4          saobien    Đàm Thanh Tùng     39         0     39   50000
1         TOBBY FC      Tobby Nguyen     37         0     37   60000
0           ZinZin  Long Hoang Thanh     36         0     36   70000
7    878855-373549       NGUYEN DONG     35         0     35   80000
3         Bimtin16        Quang Tran     34         0     34   90000
6        Chupachup         Tran Quan     27         0     27  100000
5           Faster           Hiep ck     24         0     24  110000

              Team           Manager  Point  Transfer  Total   Money
1         TOBBY FC      Tobby Nguyen     76         4     72       0
0           ZinZin  Long Hoang Thanh     60         0     60   20000
8  Nghe'VitTitMi't      Nguyen Thang     55         0     55   40000
4          saobien    Đàm Thanh Tùng     53         0     53   50000
2    hoho_haha2016      Nguyen Thanh     50         0     50   60000
9         DinhLong       long Nguyen     43         0     43   70000
5           Faster           Hiep ck     41         0     41   80000
7    878855-373549       NGUYEN DONG     40         0     40   90000
6        Chupachup         Tran Quan     43         4     39  100000
3         Bimtin16        Quang Tran     32         0     32  110000

In [12]:
LEAGUE_ID = 373549
df = get_week_point(LEAGUE_ID, week=5)
display(df)

              Team           Manager  Point  Transfer  Total   Money
0         TOBBY FC      Tobby Nguyen     76         4     72       0
1           ZinZin  Long Hoang Thanh     60         0     60   20000
6  Nghe'VitTitMi't      Nguyen Thang     55         0     55   40000
3          saobien    Đàm Thanh Tùng     53         0     53   50000
2    hoho_haha2016      Nguyen Thanh     50         0     50   60000
9         DinhLong       long Nguyen     43         0     43   70000
7           Faster           Hiep ck     41         0     41   80000
8    878855-373549       NGUYEN DONG     40         0     40   90000
4        Chupachup         Tran Quan     43         4     39  100000
5         Bimtin16        Quang Tran     32         0     32  110000

In [16]:
LEAGUE_ID = 373549
df = get_week_point(LEAGUE_ID, week=6)
display(df)

              Team           Manager  Point  Transfer  Total   Money
0           ZinZin  Long Hoang Thanh     63         0     63       0
3         Bimtin16        Quang Tran     50         0     50   20000
2    hoho_haha2016      Nguyen Thanh     48         4     44   40000
7    878855-373549       NGUYEN DONG     40         0     40   50000
9         DinhLong       long Nguyen     35         0     35   60000
6        Chupachup         Tran Quan     40         8     32   70000
8  Nghe'VitTitMi't      Nguyen Thang     31         0     31   80000
1         TOBBY FC      Tobby Nguyen     30         0     30   90000
4          saobien    Đàm Thanh Tùng     29         0     29  100000
5           Faster           Hiep ck     25         0     25  110000

In [15]:
LEAGUE_ID = 373549
df = get_week_point(LEAGUE_ID, week=7)
display(df)

              Team           Manager  Point  Transfer  Total   Money
0           ZinZin  Long Hoang Thanh     69         0     69       0
1         TOBBY FC      Tobby Nguyen     51         0     51   20000
5           Faster           Hiep ck     48         0     48   40000
7    878855-373549       NGUYEN DONG     39         0     39   50000
4          saobien    Đàm Thanh Tùng     37         0     37   60000
9         DinhLong       long Nguyen     30         0     30   70000
3         Bimtin16        Quang Tran     24         0     24   80000
2    hoho_haha2016      Nguyen Thanh     23         4     19   95000
6        Chupachup         Tran Quan     31        12     19   95000
8  Nghe'VitTitMi't      Nguyen Thang     36        28      8  110000

In [4]:
LEAGUE_ID = 373549
df = get_week_point(LEAGUE_ID, week=8)
display(df)

              Team           Manager  Point  Transfer  Total   Money
4        Chupachup         Tran Quan     53         0     53       0
6    878855-373549       NGUYEN DONG     49         0     49   20000
1         TOBBY FC      Tobby Nguyen     51         4     47   40000
2    hoho_haha2016      Nguyen Thanh     45         0     45   50000
5           Faster           Hiep ck     43         0     43   60000
0           ZinZin  Long Hoang Thanh     41         0     41   70000
3          saobien    Đàm Thanh Tùng     39         0     39   80000
8  Nghe'VitTitMi't      Nguyen Thang     38         4     34   90000
7         Bimtin16        Quang Tran     22         0     22  100000
9         DinhLong       long Nguyen     20         0     20  110000

In [6]:
LEAGUE_ID = 373549
df = get_week_point(LEAGUE_ID, week=9)
display(df)

              Team           Manager  Point  Transfer  Total   Money
5         Bimtin16        Quang Tran     48         0     48       0
3           Faster           Hiep ck     47         0     47   20000
0           ZinZin  Long Hoang Thanh     46         0     46   40000
1         TOBBY FC      Tobby Nguyen     44         0     44   50000
6    878855-373549       NGUYEN DONG     42         0     42   60000
2    hoho_haha2016      Nguyen Thanh     39         0     39   75000
4        Chupachup         Tran Quan     47         8     39   75000
9         DinhLong       long Nguyen     33         0     33   90000
7          saobien    Đàm Thanh Tùng     31         0     31  100000
8  Nghe'VitTitMi't      Nguyen Thang     34        32      2  110000

In [7]:
LEAGUE_ID = 373549
df = get_week_point(LEAGUE_ID, week=10)
display(df)

              Team           Manager  Point  Transfer  Total   Money
8  Nghe'VitTitMi't      Nguyen Thang     96         8     88       0
4    878855-373549       NGUYEN DONG     79         0     79   20000
0         TOBBY FC      Tobby Nguyen     81         4     77   40000
3        Chupachup         Tran Quan     76         0     76   50000
5         Bimtin16        Quang Tran     68         0     68   60000
2    hoho_haha2016      Nguyen Thanh     67         0     67   70000
1           ZinZin  Long Hoang Thanh     63         0     63   85000
9         DinhLong       long Nguyen     63         0     63   85000
7          saobien    Đàm Thanh Tùng     55         0     55  100000
6           Faster           Hiep ck     52         0     52  110000

In [8]:
LEAGUE_ID = 373549
df = get_week_point(LEAGUE_ID, week=11)
display(df)

              Team           Manager  Point  Transfer  Total   Money
2    hoho_haha2016      Nguyen Thanh     75         4     71       0
0         TOBBY FC      Tobby Nguyen     57         0     57   20000
5           Faster           Hiep ck     53         0     53   40000
7          saobien    Đàm Thanh Tùng     51         0     51   50000
3    878855-373549       NGUYEN DONG     47         0     47   60000
8  Nghe'VitTitMi't      Nguyen Thang     54         8     46   70000
1           ZinZin  Long Hoang Thanh     45         0     45   80000
4        Chupachup         Tran Quan     43         0     43   95000
6         Bimtin16        Quang Tran     43         0     43   95000
9         DinhLong       long Nguyen     38         0     38  110000

In [2]:
LEAGUE_ID = 373549
df = get_week_point(LEAGUE_ID, week=12)
display(df)

              Team           Manager  Point  Transfer  Total   Money
0         TOBBY FC      Tobby Nguyen     55         0     55       0
3           Faster           Hiep ck     53         0     53   20000
4         Bimtin16        Quang Tran     52         0     52   40000
1           ZinZin  Long Hoang Thanh     49         8     41   55000
7          saobien    Đàm Thanh Tùng     41         0     41   55000
5    878855-373549       NGUYEN DONG     38         0     38   75000
9         DinhLong       long Nguyen     38         0     38   75000
2    hoho_haha2016      Nguyen Thanh     39         8     31   90000
6        Chupachup         Tran Quan     34         4     30  105000
8  Nghe'VitTitMi't      Nguyen Thang     38         8     30  105000

In [2]:
LEAGUE_ID = 373549
df = get_week_point(LEAGUE_ID, week=13)
display(df)

              Team           Manager  Point  Transfer  Total   Money
3    878855-373549       NGUYEN DONG     62         0     62       0
6          saobien    Đàm Thanh Tùng     59         0     59   20000
1           ZinZin  Long Hoang Thanh     55         0     55   40000
0         TOBBY FC      Tobby Nguyen     54         0     54   50000
4         Bimtin16        Quang Tran     53         0     53   60000
8  Nghe'VitTitMi't      Nguyen Thang     52         0     52   70000
7        Chupachup         Tran Quan     58        12     46   80000
2    hoho_haha2016      Nguyen Thanh     43         0     43   90000
5           Faster           Hiep ck     39         0     39  100000
9         DinhLong       long Nguyen     30         0     30  110000

In [3]:
LEAGUE_ID = 373549
df = get_week_point(LEAGUE_ID, week=14)
display(df)

              Team           Manager  Point  Transfer  Total   Money
2    878855-373549       NGUYEN DONG    101         0    101       0
3        Chupachup         Tran Quan     81         0     81   20000
7          saobien    Đàm Thanh Tùng     65         0     65   40000
0         TOBBY FC      Tobby Nguyen     68         4     64   50000
1           ZinZin  Long Hoang Thanh     57         0     57   60000
5           Faster           Hiep ck     49         0     49   70000
6         Bimtin16        Quang Tran     47         0     47   80000
9         DinhLong       long Nguyen     73        28     45   90000
8  Nghe'VitTitMi't      Nguyen Thang     40         0     40  100000
4    hoho_haha2016      Nguyen Thanh     28         0     28  110000

In [4]:
LEAGUE_ID = 373549
df = get_week_point(LEAGUE_ID, week=15)
display(df)

              Team           Manager  Point  Transfer  Total   Money
2    878855-373549       NGUYEN DONG     62         0     62   10000
5           Faster           Hiep ck     62         0     62   10000
8  Nghe'VitTitMi't      Nguyen Thang     57         4     53   40000
4    hoho_haha2016      Nguyen Thanh     52         0     52   50000
0         TOBBY FC      Tobby Nguyen     44         0     44   70000
3        Chupachup         Tran Quan     48         4     44   70000
6         Bimtin16        Quang Tran     44         0     44   70000
1           ZinZin  Long Hoang Thanh     39         0     39   90000
9         DinhLong       long Nguyen     38         8     30  100000
7          saobien    Đàm Thanh Tùng     28         0     28  110000

In [2]:
LEAGUE_ID = 373549
df = get_week_point(LEAGUE_ID, week=16)
display(df)

              Team           Manager  Point  Transfer  Total   Money
1           ZinZin  Long Hoang Thanh     66         0     66       0
4        Chupachup         Tran Quan     56         0     56   30000
5          saobien    Đàm Thanh Tùng     56         0     56   30000
3    hoho_haha2016      Nguyen Thanh     55         0     55   50000
2    878855-373549       NGUYEN DONG     52         0     52   60000
9         DinhLong       long Nguyen     47         0     47   70000
0         TOBBY FC      Tobby Nguyen     44         0     44   80000
8  Nghe'VitTitMi't      Nguyen Thang     43         0     43   90000
6           Faster           Hiep ck     39         0     39  100000
7         Bimtin16        Quang Tran     27         0     27  110000

In [3]:
LEAGUE_ID = 373549
df = get_week_point(LEAGUE_ID, week=17)
display(df)

              Team           Manager  Point  Transfer  Total   Money
0         TOBBY FC      Tobby Nguyen     72         0     72       0
5          saobien    Đàm Thanh Tùng     55         0     55   20000
1           ZinZin  Long Hoang Thanh     54         0     54   45000
9         DinhLong       long Nguyen     54         0     54   45000
8  Nghe'VitTitMi't      Nguyen Thang     52         0     52   60000
3    hoho_haha2016      Nguyen Thanh     50         4     46   70000
7         Bimtin16        Quang Tran     44         0     44   80000
2    878855-373549       NGUYEN DONG     40         0     40   90000
6           Faster           Hiep ck     39         0     39  100000
4        Chupachup         Tran Quan     35         0     35  110000

In [4]:
LEAGUE_ID = 373549
df = get_week_point(LEAGUE_ID, week=18)
display(df)

              Team           Manager  Point  Transfer  Total   Money
1           ZinZin  Long Hoang Thanh     74         0     74       0
3    hoho_haha2016      Nguyen Thanh     77         4     73   20000
8  Nghe'VitTitMi't      Nguyen Thang     61         0     61   40000
2    878855-373549       NGUYEN DONG     58         0     58   55000
4        Chupachup         Tran Quan     58         0     58   55000
0         TOBBY FC      Tobby Nguyen     65         8     57   70000
5          saobien    Đàm Thanh Tùng     54         0     54   80000
9         DinhLong       long Nguyen     60         8     52   90000
6           Faster           Hiep ck     44         0     44  100000
7         Bimtin16        Quang Tran     31         0     31  110000